<header> <!-- Header with Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-light">       
            <div class="container-fluid">
                <a class="navbar-brand" href="#index.html">
                    <img src="NotasLogo_MezaTech.png" alt="Logo"  class="d-inline-block align-text-center">
                MT Notes
                <h6> Meza Technology</h6>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Notebooks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Configuración</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cerrar Sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>       
    </header>
    <body>
        <h1> MT Notes </h1>
        <h2> Bienvenido a la aplicacion de notas </h2>
        <h3> Meza Technology </h3>
    </body>
